# Ignore configuration files that may contain sensitive information.
kagoa.code-workspace
fwdworkestimate.zip
fwdworkestimate/Self service portal-REVISED-01.jpg
fwdworkestimate/Self service portal-REVISED-02.jpg
fwdworkestimate/Self service portal-REVISED-03.jpg
fwdworkestimate/Self service portal-REVISED-04.jpg
fwdworkestimate/Self service portal-REVISED-05.jpg
fwdworkestimate/Self service portal-REVISED-06.jpg
fwdworkestimate/Self service portal-REVISED-07.jpg
fwdworkestimate/Self service portal-REVISED-08.jpg
fwdworkestimate/Self service portal-REVISED-09.jpg
